* {
  box-sizing: border-box;
}
body {
  background-color: #eace51;
  background-size: auto;
}
main{
  width: 900px;
  font-family: monospace;
  font-size: 1.3em;
  
  margin: auto;
}
h1 {
  font-family: monospace;
  font-size: 4em;
  text-align: center;
  color: #eace51;
}
main > section {
  overflow: hidden;
  padding: 20px 20px;
}
img {
  float: left;
  width: 280px;
  height: 280px;
  border: 1px solid black;
  margin: auto;
  padding: 10px 10px;
 
}
aside {
  float: left;
  margin: auto;
}
header {
margin: auto;
flex-basis: 20px;
}

