div.left_image{
  height: 5px;
  width: 50px;
  background-color: aquamarine;
}
body{
  background-color: rgb(172, 233, 144);
}
main {
  width: 960px;
  margin: auto;
  border: 25px solid black;
}

img {
  background-color: blue;
}